# Python-related
venv/
**/__pycache__/
**/*.pyc

# Django-related
backend/nestegg/__pycache__/
backend/accounts/__pycache__/
backend/investments/__pycache__/

# Environment files
backend/.env

# Node-related
frontend/node_modules/
frontend/dist/

# Environment files
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local